* {
  box-sizing: border-box;
}
.hostBox__apdex {
  font-size: 13px;
  opacity: 0.62;
  font-weight: bold;
  flex-basis: 40px;
  flex-shrink: 0;
  padding-right: 5px;
}
.hostBox__name,
.hostBox__contributors {
  display: inline;
}
.hostBox__name + .hostBox__contributors:before {
  content: "-";
  margin: 0 5px;
}
.hostBox__row {
  font-size: 16px;
}
.hostBox__li + .hostBox__li {
  padding-top: 23px;
}
.hostBox__li {
  color: var(--list-text-color);
  display: flex;
  flex-direction: row;
}
.hostBox__ol {
}
.hostBox__title {
  color: var(--title-text-color);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.hostBox__hostName {
  font-weight: bold;
  font-size: 16px;
}

.hostBox__title + .hostBox__body {
  padding-top: 23px;
}

.hostBox {
  padding: 30px;
  line-height: 19px;
  font-family: "HelveticaNeueCyr", sans-serif;
  background: var(--box-bg-color);
}

.hostBox--collapsed .hostBox__collapser:before {
  content: "+ Show more";
}

.hostBox__collapser:before {
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  content: "- Show less";
}
