@import "font";

:global {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-weight: normal;
    margin: 0;
  }
}

:root {
  --box-bg-color: #fff;
  --app-bg-color: #f5f5f5;
  --title-text-color: #000;
  --list-text-color: #4a4a4a;

  --grid-columns: 1;

  // toggle-input
  --input-bg-color: #fff;
  --input-border-color: rgba(0, 0, 0, 0.3);
  --input-tick-color: #7ed320;

  //hostbox
  --title-text-color: #000;
  --box-bg-color: #fff;
  --list-text-color: #4a4a4a;
}

.app {
  background: var(--app-bg-color);
  color: var(--title-text-color);
}

.wrapper {
  max-width: 840px;
  margin: auto;
  padding: 30px;
}
