toggle-input {
  flex-shrink: 0;
  --input-bg-color: #fff;
  --input-border-color: rgba(0, 0, 0, 0.3);
  --input-tick-color: #7ed320;
}

host-box {
  --title-text-color: #000;
  --box-bg-color: #fff;
  --list-text-color: #4a4a4a;
}
